/* General page styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('image/background.png'); /* Background image URL */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Content section */
.content {
  color: white;
  padding: 40px;
  text-align: center;
}

/* Header styling */
header {
  text-align: center;
  padding: 50px;
}

/* Research Areas Section Styling */
section#research-areas {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

section#research-areas h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

section#research-areas ul {
  list-style-type: none;
  padding: 0;
}

section#research-areas li {
  font-size: 1.2em;
  margin: 5px 0;
}

/* Data Visualization Section Styling */
section#research-visualization {
  margin-top: 20px;
  text-align: center;
}

/* Footer Styling */
footer {
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 1em;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
